<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autocomplete with Elasticsearch</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<div class="autocomplete-container">
    <label for="searchInput">Search:</label>
    <input type="text" id="searchInput" class="autocomplete-input" autocomplete="off">
    <ul id="autocompleteResults" class="autocomplete-results"></ul>
</div>




<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>
